@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap');

*,body{
    font-family: 'Poppins', sans-serif;

}
.principal{
    background-color: white;
}
.navprincipal{
    color: forestgreen;
    font-size: 15px;
}
.principal-message{
    text-align: left;
    color: #414141;
}
.secondary-message{
    color: black;
}
.principal-title{
    font-weight: bold;
    line-height: 3rem;
    text-align: left;
}
.seccionPrincipal{
    background-color:#EBEBEB
}
.principal-img{
    height: 50px;
}
.sizedescripcion{
    font-size: small;
}